body{
   background-color: initial;
}

#NatalieZ{
   background-color: initial;
   font-family:initial;
   color:initial;
   
}

#AnetaM{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#JanaK{
   background-color:antiquewhite;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   color:rgb(25, 16, 2);
   
}

#MartinaV{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#SaskiaP{
   background-color:blue;
   font-family: initial;
   color:initial;
   
}